<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompanynew">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCompanyNew">
        <activity
            android:name=".our_services.activities.ServicesDetailsActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".bottom_menu.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".ApplyJobActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".LifeAtMyCompanyActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GetInTouchActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>